{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}

<!-- hero -->
<div class="hero bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('{{ asset('media/images/hero.jpg') }}');
    height: 100vh;
    background-size: cover;">
    <div>
        <h1 class="mb-4 text-white text-center">SnowTricks</h1>
        <h5 class="text-white text-center">Site collaboratif pour apprendre des figures</h5>
    </div>
</div>
<!-- hero -->

<div class="container pt-4">

    {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        {% for figure in figures %}
            {% if figure.image %}
                {% set thumb = asset('uploads/images/' ~ figure.image.url) | imagine_filter('figure_thumb') %}
            {% else %}
                {% set thumb = asset('media/images/default.jpg') | imagine_filter('figure_thumb') %}
            {% endif %}
            <div class="load-more-item mb-4">
                <div class="col d-flex align-items-stretch h-100">
                    <div class="card rounded-0 w-100 shadow">
                        <a href="{{ path('app_show', {'id': figure.id, 'slug': figure.slug}) }}">
                        <img class="img-fluid w-100" src="{{ thumb }}" alt="{{ figure.name }}" /></a>
      
                        <div class="card-body px-2 py-2">
                            <div class="row row-cols-3 align-items-center justify-content-evenly">
                                
                                {% if is_granted("POST_EDIT", figure) %}
                                    <div class="col-8 col-sm-9">
                                {% else %}
                                    <div class="col-12">
                                {% endif %}

                                    <a href="{{ path('app_show', {'id': figure.id, 'slug': figure.slug}) }}">
                                    <h6 class="card-title">{{ figure.name }}</h6>
                                   </a>
                                </div>
            
                                {% if is_granted("POST_EDIT", figure) %}
                                    <div class="col-1 d-flex justify-content-center">
                                        <a href="{{ path('app_figure_edit', {'id': figure.id}) }}">
                                        <i class="bi-pencil-fill"></i>
                                        </a>
                                    </div>
                        
                                    <div class="col-1 d-flex justify-content-center">
                                        {{ include('figure/_delete_form.html.twig') }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="text-center">
        <button class="btn btn-form load-more">
            <i class="bi bi-plus-circle-dotted"></i> voir plus
        </button>
    </div>

    <script>
        $(document).ready (function () {
        $(".load-more-item").slice(0, 5).show();
        $(".load-more").on("click", function(e){
            e.preventDefault();
            $(".load-more-item:hidden").slice(0, 5).slideDown();
            if ($(".load-more-item:hidden").length == 0) {
                $(".load-more").addClass("d-none");
            }
        });
        })
</script>


</div>

{% endblock %}
