{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description,{ 'attr': {'rows': '12'}}) }}
    {{ form_row(form.category) }}


{% if add is defined %}
<div>
    <button class="btn btn-form">{{ button_label|default('Valider') }}</button>
</div>
{% else %}
<div class="form-figure-btn row row-cols-2 align-items-center justify-content-start">
    <div class="col-6">
    <button class="btn btn-form btn-form-save">{{ button_label|default('Valider') }}</button>
    </div>

    <div class="col-6">
    {{ include('figure/_delete_form.html.twig') }}
    </div>
</div>
{% endif %}

{{ form_end(form) }}