{% extends 'base.html.twig' %}

{% block title %}{{ figure.name }}{% endblock %}

{% block body %}

{% if figure.image %}
    {% set background = asset('uploads/images/' ~ figure.image.url) %}
{% else %}
    {% set background = asset('media/images/default.jpg') %}
{% endif %}

<div class="container mt-4">

    <div class="image-block shadow">
        <div class=" bg-image d-flex justify-content-center align-items-center"
        style="
        background-image: url('{{ background }}');
        height: 100vh;
        background-size: cover;">
            <div>
                <h1 class="text-white text-center">{{ figure.name }}</h1>
            </div>
        </div>

    {% if is_granted("POST_EDIT", figure) %}
    <div class="edit-block row row-cols-2 align-items-center justify-content-start">
        <div class="col-6">
            <a href="{{ path('app_figure_edit', {'id': figure.id}) }}">
            <i class="bi-pencil-fill"></i>
            </a>
        </div>
        <div class="col-6">
            {{ include('figure/_delete_form.html.twig') }}
        </div>
    </div>
    {% endif %}
    
    </div>
</div>

{# médias #}
<div id="medias-btn" class="container mt-4">
    <button class="d-block d-sm-none btn btn-form" onclick="showMedias()">Voir les médias</button>
</div>

<div id="medias" class="container mt-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

        {% if images is defined %}
            {% for image in images %}
                <div class="col mb-3 d-flex">
                    <div class="card rounded-0 border-0 mb-5 w-100 shadow">
                        <a href="{{ path('app_image_show', {'id': image.id}) }}">
                        <img class="img-fluid w-100" src="{{ asset('uploads/images/' ~ image.url) | imagine_filter('figure_thumb') }}" alt="{{ figure.name }}" />
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if videos is defined %}
            {% for video in videos %}
                <div class="col mb-3 d-flex">
                    <div class="card rounded-0 border-0 mb-5 w-100 shadow">
                        <a href="{{ path('app_video_show', {'id': video.id}) }}">
                        <img class="img-fluid w-100" src="{{ asset('media/images/video.jpg') | imagine_filter('figure_thumb') }}" alt="{{ figure.name }}" />
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{# description #}
<div class="container mt-4 ps-2 pe-2 ps-md-5 pe-md-5">
    <p class="ps-2 pe-2 ps-md-5 pe-md-5">
        {{ figure.description | nl2br }}</td>
    </p>
    
    <div class="tag trick-footer trick-info mt-5 pb-5 row row-cols-5 justify-content-center h-100 align-items-stretch">
        <div class="col ms-2 bg-white shadow text-center">
            Postée le 
            <br />
            {{ figure.creationDate ? figure.creationDate|date('d-m-Y') : '' }}
        </div>

        {% if figure.updateDate != NULL and figure.creationDate != figure.updateDate %}
        <div class="col ms-2 bg-white shadow text-center">
            Modifiée le 
            <br />
            {{ figure.updateDate ? figure.updateDate|date('d-m-Y') : '' }}
        </div>
        {% endif %}

        {% if figure.category != NULL %}
        <div class="col ms-2 bg-white shadow text-center">
            catégorie
            <br />
            #{{ figure.category.name }}
        </div>
        {% endif %}
    </div>
</div>

<div class="container">
    {# commentaires #}
        {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
            <p class="trick-footer mt-4">
                Pour laisser un commentaire <a href="{{ path('app_register') }}">Inscrivez-vous</a> ou <a href="{{ path('app_login') }}">connectez-vous</a>
            </p>
        {% else %}
            {{ form_start(form) }}
                <div class="comment-form trick-footer mt-4 row row-cols-1 row-cols-md-2">
                    <div class="col col-lg-9">
                        {{ form_widget(form) }}
                    </div>
                    <div class="col col-lg-3 mt-2">
                        <button class="btn btn-form">Laisser un commentaire</button>
                    </div>
                </div>
            {{ form_end(form) }}
        {% endif %}
</div>

<div class="container">
    <div class="trick-footer">
        {% if comments %}
            {% for comment in comments %}
                <div class="load-more-item">
                   <div class="row row-cols-md-2 align-items-center">
                        {% if comment.author.avatar %}
                            {% set avatar = asset('uploads/avatars/' ~ comment.author.avatar) | imagine_filter('avatar_thumb_small') %}
                        {% else %}
                            {% set avatar = asset('media/images/avatar.jpg') %}
                        {% endif %}

                        <div class="text-center d-none d-md-block col-md-3 col-lg-2 mt-4">
                            <img class="img-fluid rounded-circle" src="{{ avatar }}" alt="{{ comment.author.avatar }}" />
                        </div>
        
                        <div class="comment col-12 col-md-9 col-lg-10 mt-4 border border-dark px-3 pt-3 pb-3">
                            Le {{ comment.creationDate ? comment.creationDate|date('d-m-Y') : '' }} <span class="fw-bold">{{ comment.author.name }}</span> a dit
                            <br />
                            <q>{{ comment.content }}</q>
                         </div>
                    </div>
                </div>
                {% endfor %}
        {% endif %}

        <div class="text-center mt-4">
            <button class="btn btn-form load-more">
                <i class="bi bi-plus-circle-dotted"></i> voir plus
            </button>
        </div>

         <script>
            $(document).ready (function () {
            $(".load-more-item").slice(0, 5).show();
            $(".load-more").on("click", function(e){
                e.preventDefault();
                $(".load-more-item:hidden").slice(0, 5).slideDown();
                if ($(".load-more-item:hidden").length == 0) {
                    $(".load-more").addClass("d-none");
                }
            });
            })
        </script>

    </div>
</div>
    
{% endblock %}