{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="hidden" name="image_figure" value="{{ figure }}">
    <button class="btn btn-form">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
