{% extends 'base.html.twig' %}

{% block title %}{{ image.name }}{% endblock %}

{% block body %}
    <h1 class="container mt-4">{{ image.name }}</h1>

    <div class="container mt-4">
    <img class="img-fluid" src="{{ asset('uploads/images/' ~ image.url) }}" alt="{{ image.name }}" />

    <p class="mt-4">
    Image liée à la figure : <a href="{{ path('app_show', {
        'id': image.figure.id, 
        'slug': image.figure.slug
        }) }}">{{ image.figure.name }}</a>
    </p>
    </div>

{% endblock %}
