{% extends 'base.html.twig' %}

{% block title %}{{ video.name }}{% endblock %}

{% block body %}
    <h1 class="container mt-4">{{ video.name }}</h1>

    <div class="video container mt-4">
    {{ video.code|raw }}

    <p class="mt-4">
    Vidéo liée à la figure : <a href="{{ path('app_show', {
        'id': video.figure.id, 
        'slug': video.figure.slug
        }) }}">{{ video.figure.name }}</a>
    </p>
    </div>

{% endblock %}
